<html>
    <head>
        <title>Maritta's day with Github and Python</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls</a></h1>
        </div>

        <div>
            <p>published: 04.11.2017, 14:12</p>
            <h2><a href="">My first post</a></h2>
            <p>        <p>Actually it's much more easier to create the blog with ready platform. Just the blog writing is not worth of such hard work.
</p>
        </div>

        <div>
            <p>published: 04.11.2017, 14:12</p>
            <h2><a href="">My second post</a></h2>
            <p> Now I understand, that coding is not for ME. And really appreciate the people inspired to code.</p>
        </div>
    </body>
</html>
